*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
    background-color: aqua;
    padding: 20;
}

.buttons{
    text-align: right;
    font-size: 20;
    padding-right: 20;
    padding-top: 10;
}